.contract-title {
    font-size: 12px;
    text-decoration: underline;
}
.contract-address {
    font-size: 12px;
}
.payment-form {
    font-size: 12px;
}
.contract-text {
    font-size: 11px;
}
.legal-text {
    font-size: 9px;
}
.recoverable-text {
    font-size: 11px;
    line-height: 2px;
}
.sign-total2 {
    font-size: 11px;
}

.text-center{
    text-align: center;
}
.square_sign{
    height: 35mm;
}
.square{
    border: 1px solid black;
    height: 35mm;
}
.c-table{
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    font-size: 12px;
    thead{
        background-color: rgb(172, 172, 172);
        display: table-header-group 
    }
    tfoot{
        background-color: rgb(172, 172, 172);
        display: table-row-group
    }
    tr{
        page-break-inside: avoid;
    }
    th{
        border: 1px solid black;
        padding-left: 4px;
        padding-right: 4px;
    }
    td{
        border: 1px solid black;
        padding-left: 4px;
        padding-right: 4px;
    }
}

.police-table{
    margin-top: 2em;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    font-size: 10px;
    thead{
        background-color: rgb(172, 172, 172);
        display: table-header-group 
    }
    tfoot{
        background-color: rgb(172, 172, 172);
        display: table-row-group
    }
    tr{
        page-break-inside: avoid;
    }
    th{
        border: 1px solid black;
        padding-left: 4px;
        padding-right: 4px;
    }
    td{
        font-size: 10px;
        border: 1px solid black;
        padding-left: 4px;
        padding-right: 4px;
    }
}
.police-table-jew{
    margin-top: 2em;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    font-size: 10px;
    thead{
        background-color: rgb(172, 172, 172);
        display: table-header-group 
    }
    tfoot{
        background-color: rgb(172, 172, 172);
        display: table-row-group
    }
    tr{
        page-break-inside: avoid;
    }
    th{
        border: 1px solid black;
        padding-left: 4px;
        padding-right: 4px;
        line-height: 1em;
    }
    td{
        font-size: 10px;
        border: 1px solid black;
        padding-left: 4px;
        padding-right: 4px;
    }
}
.po-group{
    background-color: rgb(172, 172, 172);
}

// LABEL PURCHASE
.label-po-container{
    height:100%;
    width: 79mm;
    margin-left: -12px;
    border: 1px solid black;
    .section1{
        width: 100%;
        height:100%;
        border: 1px solid black;
    }
    .prod-name{
        font-size:15px;
        font-weight: bold;
    }
    .section-att{
        font-size:15px;
        font-weight: bold;
    }
}